.index_button {
    padding: 15px 30px;
    background: $button-color;
    border-radius: 5px;
    @include text-site(600, 20px, 27px);
    border: 1px solid transparent;
    &__red {
        background-color: rgb(238, 9, 9);
    }
    transition: background-color 1s;
}

.index_button:hover {
    background-color: $button-hover-backgr-color;
    border: 1px solid transparent;
    color: $button-hover-color;
}