@import "vars";
@import "key-frames";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@mixin text-site($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $colortext;
    border: 1px solid transparent;
    font-family: "Open Sans";
    font-style: normal;
}

@mixin text-h5($fw, $fs, $lh) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $colortext;
}

.menu__link {
    @include text-site(600, 16px, 22px);
    padding: 40px 20px;
    transition: background-color 500ms;
}

.menu__link:hover {
    background-color: #3A68B8;
    border: 1px solid transparent;
    color: $button-hover-backgr-color;
}

body {
    background-color: #08101e;
}

@import "header";
.title1 {
    @include text-site(800, 55px, 130%);
}

.title3 {
    @include text-site(600, 18px, 160%);
    text-transform: uppercase;
    color: #3A68B8;
}

.main_heading {
    @include text-site(800, 55px, 130%);
    margin-bottom: 40px;
    margin-top: 10px;
}

.main_dc {
    @include text-site(600, 18px, 160%);
    opacity: 0.7;
    margin-bottom: 50px;
}

@import "index-button";
.container {
    max-width: $site-width;
    margin: 0 auto;
}

.main_dc {
    @include text-site(600, 18px, 160%);
    opacity: 0.7;
}

.button_box {
    margin-bottom: 50px;
}

.logobar {
    margin-top: 200px;
}

.jello-horizontal:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.header_menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex_box {
    display: flex;
    justify-content: space-evenly;
}

.img_left {
    width: 50vh;
}

.grid_box {
    display: grid;
    grid-template-rows: repeat(3, 30%);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.item-4 {
    grid-row: 2/4;
    grid-column: 1/3;
}

.flex_logo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image_blocks {
    padding: 1%;
}

.content_left {
    width: 50%;
}

.flex_video {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title2 {
    max-width: 90%;
    @include text-site(700, 40px, 130%);
}

.content__dc {
    width: 90%;
    @include text-site(600, 16px, 160%);
    opacity: 0.7;
}

.image_blocks {
    width: 50%;
}

.content__information {
    margin-top: 5%;
    margin-bottom: 10%;
}

.right__content {
    padding: 2%;
}

.content_padding {
    padding: 5%;
}

.flex_content {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

.container_grid {
    background: #132035;
    border-radius: 10px;
    text-align: center;
}

.many_blocks {
    padding: 10%
}

.title4 {
    @include text-site(700, 25px, 125%);
    opacity: 0.7;
}

.content__blocks {
    @include text-site(600, 16px, 160%);
    text-align: center;
    opacity: 0.7;
    padding: 30px;
}

.left_content_image {
    width: 66%;
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

.flex_content_block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.right_content_image {
    margin-top: 30px;
}

.margin_bott {
    margin-bottom: 30px;
}

.image_about2 {
    width: 100%;
}

.content__bottom {
    @include text-site(600, 16px, 160%);
    opacity: 0.7;
    padding: 10px;
}

.content_block_bottom {
    margin-top: 30px;
}

.centre_content {
    align-self: center;
}

.footer {
    margin-top: 10%;
    background-color: #0a121f;
    backdrop-filter: blur(100px);
    border-radius: 10px;
    padding: 3%;
}

.footer_left {
    padding: 2%;
}

.footer_centr {
    padding: 2%;
}

.footer_right {
    padding: 2%;
}

.title5 {
    @include text-h5(500, 16px, 19px);
}

.block_contacts {
    @include text-h5(500, 14px, 16px);
    text-indent: 10px;
}

.block_logos {
    display: flex;
    flex-direction: column;
}

.fa,
.fas {
    color: $colortext;
}

.information {
    display: flex;
    margin-top: 33px;
}

.title6 {
    margin: 1px;
}

.flex_footer {
    display: flex;
    justify-content: space-evenly;
}

.footer_about {
    max-width: 261px;
    @include text-h5(100, 14px, 16px);
    opacity: 0.6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 33px;
}

.footer_about_right {
    @include text-h5(500, 14px, 16px);
    order: 0;
    flex-grow: 0;
    margin-top: 33px;
}

.block_logos_twitt_in_you {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

@media screen and (max-width:768px) {
    .container {
        max-width: 768px;
    }
    .menu__link {
        padding: 5% 1%;
    }
    .button_box {
        margin-bottom: -10%;
    }
    .logobar {
        margin-top: 10%;
    }
    .flex_box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    .title4 {
        @include text-site(600, 16px, 125%);
        opacity: 0.7;
    }
    .grid_box {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    .content_left {
        width: 80%;
    }
    .many_blocks {
        padding: 0%
    }
    .flex_footer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .footer_left {
        width: 50%;
    }
    .footer_centr {
        width: 50%;
    }
    .footer_right {
        padding: 2%;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    .flex_video {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main_dc {
        margin-bottom: 1%;
    }
    .main_heading {
        font-weight: 600;
    }
    .button_box {
        margin-bottom: -15%;
    }
    .logobar {
        margin-top: 10%;
    }
    .flex_box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    .imaging_logo {
        padding: 3%;
    }
    .title4 {
        @include text-site(600, 16px, 125%);
        opacity: 0.7;
    }
    .grid_box {
        display: flex;
        flex-direction: column;
        padding: 20%;
    }
}

@media screen and (max-width: 375px) {
    .flex_video {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main_heading {
        font-weight: 600;
    }
    .grid_box {
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
    .flex_footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .footer_left {
        width: 100%;
    }
    .footer_centr {
        width: 50%;
    }
    .footer_right {
        padding: 2%;
    }
}