@import "vars";
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@mixin text-site($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $colortext;
    border: 1px solid transparent;
    font-family: "Open Sans";
    font-style: normal;
}

@mixin text-h5($fw, $fs, $lh) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $colortext;
}

.menu__link {
    @include text-site(600, 16px, 22px);
    padding: 40px 20px;
}

.menu__link:hover {
    background-color: #3A68B8;
    border: 1px solid transparent;
    color: $button-hover-backgr-color;
}

body {
    background-color: #08101e;
}

@import "header";
.title1 {
    @include text-site(800, 55px, 130%);
}

.title3 {
    @include text-site(600, 18px, 160%);
    text-transform: uppercase;
    color: #3A68B8;
}

.main_heading {
    @include text-site(800, 55px, 130%);
    margin-bottom: 40px;
    margin-top: 10px;
}

.main_dc {
    @include text-site(600, 18px, 160%);
    opacity: 0.7;
    margin-bottom: 50px;
}

@import "index-button";
.container {
    width: $site-width;
    margin: 0 auto;
}

.main_dc {
    @include text-site(600, 18px, 160%);
    opacity: 0.7;
}

.button_box {
    margin-bottom: 50px;
}

.logobar {
    margin-top: 200px;
}

.header_menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex_box {
    display: flex;
    justify-content: space-between;
}

.content_left {
    width: 604px;
}

.flex_video {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title2 {
    width: 484px;
    @include text-site(700, 40px, 130%);
}

.content__dc {
    width: 460px;
    @include text-site(600, 16px, 160%);
    opacity: 0.7;
}

.content__information {
    margin-top: 150px;
    margin-bottom: 264px;
}

.right__content {
    padding: 30px;
}

.flex_content {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

.item {
    width: 362px;
    background: #132035;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

.title4 {
    @include text-site(700, 25px, 125%);
    opacity: 0.7;
}

.content__blocks {
    @include text-site(600, 16px, 160%);
    text-align: center;
    opacity: 0.7;
    padding: 30px;
}

.left_content_image {
    width: 754px;
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

.flex_content_block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.right_content_image {
    margin-top: 30px;
}

.margin_bott {
    margin-bottom: 30px;
}

.image_about2 {
    width: 573px;
}

.content_bottom {
    margin-top: 243px;
}

.content__bottom {
    @include text-site(600, 16px, 160%);
    opacity: 0.7;
    padding: 10px;
}

.content_block_bottom {
    margin-top: 30px;
}

.centre_content {
    align-self: center;
}

.footer {
    margin-top: 221px;
    background-color: #0a121f;
    backdrop-filter: blur(100px);
    border-radius: 10px;
    padding: 48px;
}

.title5 {
    @include text-h5(500, 16px, 19px);
}

.block_contacts {
    @include text-h5(500, 14px, 16px);
    text-indent: 10px;
}

.block_logos {
    display: flex;
    flex-direction: column;
}

.fa,
.fas {
    color: $colortext;
}

.information {
    display: flex;
    margin-top: 33px;
}

.title6 {
    margin: 1px;
}

.footer_about {
    width: 261px;
    @include text-h5(100, 14px, 16px);
    opacity: 0.6;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 33px;
}

.footer_about_right {
    @include text-h5(500, 14px, 16px);
    order: 0;
    flex-grow: 0;
    margin-top: 33px;
}

.block_logos_twitt_in_you {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}